@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html{
  height: 1700px;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #1E1E1E;
}
a{
  pointer-events: "none";
  user-select: "none";
}
.icons{
  transition: 0.2s;
}
.icons:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.App {
  width: fit-content;
  height: 100vh;
  text-align: center;
  color: white;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.discover-grids{
  width: fit-content;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-poster{
  transition: all .15s ease-in-out;
}
.movie-poster:hover{
  transform: scale(1.05);
  filter: brightness(0.5);
  cursor: pointer;
  outline: 3px solid white;
}
.cast-profile{
  transition: all .05s ease-in-out;
}
.cast-profile:hover{
  filter: brightness(0.5);
}
.filter-buttons{
  width: 110px;
  height: 40px;
  border-radius: 40px;
  border: solid white 1px;
  font-weight: 600;
  background: transparent;
  color: white;
}
.filter-buttons:hover{
  cursor: pointer;
  background: white;
  color: black;
}
.filter-selected{
  width: 110px;
  height: 40px;
  border-radius: 40px;
  border: solid white 1px;
  font-weight: 600;
  background: white;
  color: black;
}
a{
  text-decoration: none;
  color:  white;
  transition: 0.1s;
}
a:hover{
  font-size: 17px;
}