.App {
  text-align: center;
}

.discover-grids{
  width: fit-content;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-poster{
  transition: all .2s ease-in-out;
}
.movie-poster:hover{
  transform: scale(1.1);
  filter: brightness(0.5);
  cursor: pointer;
}